.info-page-section-header-right {
  display: flex;
  align-items: center;
}

.info-page-icon {
  background: #EDEBF9;
  color: $purple;
  border-radius: 50%;
  @extend .p-4;
  width: 88px;
  height: 88px;
}

.bg-light-purple {
  background: #EDEBF9;
}

.blurb .img-fluid{
  max-width: 500px;
}