//Typography
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-Regular.ttf]]') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-Light.ttf]]') format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-LightItalic.ttf]]') format("truetype");
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-Italic.ttf]]') format("truetype");
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-Medium.ttf]]') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-MediumItalic.ttf]]') format("truetype");
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-SemiBold.ttf]]') format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-SemiBoldItalic.ttf]]') format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-Bold.ttf]]') format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-BoldItalic.ttf]]') format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-ExtraBold.ttf]]') format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-ExtraBoldItalic.ttf]]') format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-Thin.ttf]]') format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url('[[/mod/wikirate_project/wr-fonts/IBMPlexSans-ThinItalic.ttf]]') format("truetype");
  font-weight: 100;
  font-style: italic;
}