.info-page-section-header-right {
  display: flex;
  align-items: center;
}

.info-page-icon {
  background: #EDEBF9;
  color: $purple;
  border-radius: 50%;
  @extend .p-4;
  width: 88px;
  height: 88px;
}

.bg-light-purple {
  background: #EDEBF9;
}

.blurb .img-fluid {
  max-width: 500px;
}

.partner-img-container img {
  max-width: 150px;
  max-height: 100%;
  height: auto;
  display: inline !important;
}

.animated-item {
  transition: transform .3s ease, -webkit-transform .3s ease;
  transform: scale(0.95);
}

.animated-item:hover {
  transform: scale(1);
}

#wikirate-events .card-list {
  @extend .row;
}

#wikirate-events .search-result-item {
  @extend .col-md-4;
}

.sidebar-nav {
  .btn .fas:before {
    content: "\f105";
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
  }

  .btn[aria-expanded="true"] .fas {
    transform: rotate(90deg)
  }
}

.SELF-guide-list .item-box {
  min-width: 340px;
}

.guide-support {
  h4 {
    padding: 0;
    margin: 0 !important;
  }
}


.wr-infobox {
  background: $gray-200;
  padding: 2rem;
  border-radius: 6px;
  border-left: 8px solid $gray-700;
  margin: 1rem 0;
}

#event-header {
  background-image: url([[/mod/vasso/backgrounds/events-background-image.jpg]]);
  background-position: 70% 40% !important;

  .wikirate-section-header {
    padding-top: 10%
  }
}

#funding-header {
  background-image: url([[/mod/vasso/backgrounds/funding-back-pic.jpg]]);
  background-position: center !important;

  .wikirate-section-header {
    padding-top: 10%
  }
}

#policies-header {
  background-image: url([[/mod/vasso/backgrounds/policies-pic.png]]);
  background-position: 50% 70% !important;
}

#homepage-header {
  background-image: url([[/mod/vasso/backgrounds/homepage-header-background.png]]);
  background-position: center !important;
}

.homepage-main-section {
  min-height: 250px;
}

.bg-transparent-gray {
  background-color: rgba(242, 242, 242, 0.8);
  height: 100%;
}

#impressum-header {
  background-image: url([[/mod/vasso/backgrounds/impressum-back-pic.jpg]]);
  background-position: 50% 80% !important;
}

#our-work-header {
  background-image: url([[/mod/vasso/backgrounds/our-work-back-pic.jpg]]);
  background-position: 50% 50% !important;
}

#about-us-header {
  background-image: url([[/mod/vasso/backgrounds/about-us-pic.jpg]]);
  background-position: center !important;
}

.bg-deep-blue-transparent {
  background-color: #000029bf !important;
  color: #fff;
}

.bg-deep-blue-transparent h1 {
  color: $white !important;
}

.date-tag {
  left: 0;
  top: 21px;
  z-index: 1;
  line-height: 1;
  font-size: 14px;
  -webkit-transition: top .3s ease;
  transition: top .3s ease;
  text-transform: uppercase;
  color: $blue;
  font-weight: 600;
  border-radius: 0px 5px 5px 0px;
  border-bottom: 1px solid $gray-400;
  border-top: 1px solid $gray-400;
  border-right: 1px solid $gray-400;
}

.day {
  padding: 8px 7px;
  background: $gradient_orange !important;
}

.job_title {
  font-weight: 600;
}

.blurb-icon {
  background: #EDEBF9;
  color: $blue;
  border-radius: 50%;
  width: 88px;
  height: 88px;

  i {
    font-size: 2em;
  }
}

.profile_pic{
  cursor: pointer;
}

#donate{
  background: #e4f6f3;
}

.fluid-image img{
  @extend .img-fluid, .d-block, .w-100;
}


.open-modal-button{
  cursor: pointer;
}