.info-page-section-header-right {
  display: flex;
  align-items: center;
}

.info-page-icon {
  background: #EDEBF9;
  color: $purple;
  border-radius: 50%;
  @extend .p-4;
  width: 88px;
  height: 88px;
}

.bg-light-purple {
  background: #EDEBF9;
}

.blurb .img-fluid {
  max-width: 500px;
}

.partner-img-container img{
  @extend .rounded-circle, .img-fluid, .w-100, .d-block, .m-5;
  max-width: 200px;
}

.animated-item {
  transition: transform .3s ease, -webkit-transform .3s ease;
  transform: scale(0.95);
}

.animated-item:hover {
  transform: scale(1);
}

#wikirate-events .card-list{
  @extend .row;
}

#wikirate-events .search-result-item{
  @extend .col-md-4;
}

.sidebar-nav {
  .btn .fas:before {
    content: "\f105";
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
  }
  .btn[aria-expanded="true"] .fas {
    transform: rotate(90deg)
  }
}

.SELF-guide-list .item-box {
  min-width: 340px;
}

.guide-support {
  h4 {
    padding: 0;
    margin: 0 !important;
  }
}


.wr-infobox {
  background: $gray-200;
  padding: 2rem;
  border-radius: 6px;
  border-left: 8px solid $gray-700;
  margin: 1rem 0;
}
