.container
  .row
    .col-8
      %h1
        = "Empowering people to"
        %div.animation
          %span
            Gene<b>rate</b>
          %span
            Collabo<b>rate</b>
          %span
            Integ<b>rate</b>
          %span
            Demonst<b>rate</b>
          %span
            Accele<b>rate</b>
          %span
            Wiki<b>Rate</b>