.ps-md-5.pe-md-5
  .row.mb-3
    %h2
      Latest blogs and events
  .row.mt-1
    - latest_blogs.each do |blog|
      .col-lg-3.col-md-4.col-sm-6
        = nest blog, view: :core
    - latest_events.each do |event|
      .col-lg-3.col-md-4.col-sm-6
        = nest event, view: :core