.ps-md-5.pe-md-5
  .row.mb-3
    %h2
      Latest blogs and events
  .row.mt-1
    - latest_blogs.each do |blog|
      = nest blog, view: :core
    .col-md-4.col-sm-6.event-summary.ps-4.pe-4.pt-4.pb-4
      %h4.highlighted
        Upcoming Events
      - latest_events.each do |event|
        .row
          = nest event, view: :summary