.container
  .boxed.p-5
    .row
      %h2
        Contact Us
    .row
      .col-md-6.d-flex.align-items-center
        Have a question or simply want to say hi? We'd love to hear from you!
      .col-md-6.text-center.pt-3.pt-md-0
        %a.btn.btn-primary.ps-4.pe-4.pt-2.pb-2{:role => 'button', :href => '/Contact_us'}
          Get In Touch