.container
  .ps-md-5.pe-md-5
    %h3
      We build the commons where data and methodologies are open and ready for action
    .row.pt-4
      .col-xl-4.col-lg-4.col-md-6.pt-5
        .row.justify-content-center
          .service-icon.d-flex.align-items-center.justify-content-center
            %i.fas.fa-users.fa-2x
        .row.text-center.pt-4
          %h6
            Engage & support researchers
          %p
            Mobilizing researchers and volunteers to contribute to open knowledge and accountability.
      .col-xl-4.col-lg-4.col-md-6.pt-5
        .row.justify-content-center
          .service-icon.d-flex.align-items-center.justify-content-center
            %i.fas.fa-user-graduate.fa-2x
        .row.text-center.pt-4
          %h6
            Bring research into classrooms
          %p
            Collaborating with educators to integrate real-world research into academic learning.
      .col-xl-4.col-lg-4.col-md-6.pt-5
        .row.justify-content-center
          .service-icon.d-flex.align-items-center.justify-content-center
            %i.fas.fa-chart-bar.fa-2x
        .row.text-center.pt-4
          %h6
            Open up ratings & methodologies
          %p
            Making benchmarks accessible and transparent.
      .col-xl-4.col-lg-4.col-md-6.pt-5
        .row.justify-content-center
          .service-icon.d-flex.align-items-center.justify-content-center
            %i.fas.fa-project-diagram.fa-2x
        .row.text-center.pt-4
          %h6
            Map corporate networks
          %p
            Connecting the dots between companies and their global suppliers.
      .col-xl-4.col-lg-4.col-md-6.pt-5
        .row.justify-content-center
          .service-icon.d-flex.align-items-center.justify-content-center
            %i.fas.fa-database.fa-2x
        .row.text-center.pt-4
          %h6
            Archive existing datasets
          %p
            Preserving valuable data for future research and public use.
      .col-xl-4.col-lg-4.col-md-6.pt-5
        .row.justify-content-center
          .service-icon.d-flex.align-items-center.justify-content-center
            %i.fas.fa-eye.fa-2x
        .row.text-center.pt-4
          %h6
            Create public-facing data tools
          %p
            Designing interactive dashboards that turn complex data into actionable insights.