%section#impressum-header
  .bg-transparent-gray.p-5
    .container.p-5
      = render_breadcrumbs
      = section_header :impressum_heading, header_size: :h1,
                                           button: { url: "/Contact_us",
                                                     text: "Contact us" }
%section.p-5.bg-creme
  .container
    = nest :organizational_structure
%section.p-5
  .container
    = nest :factsheet