%section#impressum-header
  .bg-transparent-gray.p-5
    .container.p-5
      = render_breadcrumbs
      = section_header :impressum_heading, header_size: :h1,
                                           button: { url: "/Contact_us",
                                                     text: "Contact us" }
%section.p-5
  .container
    .h2
      Impressum
    = nest :organizational_structure, view: :content
