%section#impressum-header
  .bg-transparent-gray.p-5
    .container.p-5
      = render_breadcrumbs
      = section_header :impressum_heading, url: "/Contact_us", text: "Contact Us"
  .small.ps-1.bg-transparent-gray
    %a{href: "https://www.freepik.com/free-photo/closeup-pen-blur-background-xa_1236177.htm#query=impressum&position=0&from_view=search&track=sph"}
      Image by ijeab
    on Freepik
%section.p-5.bg-creme
  .container
    = nest :organizational_structure
%section.p-5
  .container
    = nest :factsheet