[submodule "vendor/decko"]
	path = vendor/decko
	url = https://github.com/decko-commons/decko.git
[submodule "card-mods"]
	path = vendor/card-mods
	url = https://github.com/decko-commons/card-mods.git
[submodule "vendor/decko-cap"]
	path = vendor/decko-cap
	url = https://github.com/decko-commons/decko-cap
