.row
  .col-md-9.p-3.d-flex.align-items-center
    .row
      %figure.wikirate-quote.mb-md-0
        %blockquote.blockquote
          %p
            %i.fas.fa-quote-left.fa-sm.pe-2.text-primary
            = field_nest :quote, view: :core
        %figcaption.blockquote-footer
          - if !card.quotee.nil? and card.quotee != ''
            = card.quotee
            %br
          - if !card.job_title.nil? and card.job_title != ''
            %cite
              = card.job_title
  .col-md-3.p-3.p-4.rounded-picture.text-center
    - if !card.image.nil? and !card.image != ''
      = field_nest :image, view: :core, size: :medium