%ul.nav.navbar-nav.justify-content-end
  %li.nav-item
    %a.nav-link.text-white{ href: shared_url_prefix(project=false) }
      Back to Wiki<strong>Rate</strong>.org
      %span.ml-2
        = fa_icon "external-link-alt"