.banner.d-flex.align-items-center
  .col-12.banner-content.p-2
    You landed on the site of Wikirate International e.V. If you want to visit Wikirate platform click
    %a{href: 'https://wikirate.org'}
      here.
%nav.navbar.navbar-expand-lg
  .container
    %a.wr-intl-logo.navbar-brand{:href => '/'}
      %img{ src: '/mod/wikirate_project/logos/wikirate_int_logo_dark.svg' }
    %button.navbar-toggler.bg-creme.circle{:type=> "button", 'data-bs-toggle' => "collapse", 'data-bs-target' => '#wikirateIntlNav',
    'aria-expanded' => "false", 'aria-label' => "Toggle navigation"}
      %span.burger-menu-icon
        %i.fas.fa-bars
    %div.collapse.navbar-collapse{:id => 'wikirateIntlNav'}
      %ul.navbar-nav
        - nav_menu.each do |item|
          %li.nav-item.pe-md-3
            %a.nav-link{:href => item[1], :target => ('_blank' unless item[0]!='Blog')}
              = item[0]
      %div.ms-auto
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link.donate-link{:href => 'Donate'}
              Donate
