.col-md-12.p-4.animated-item.position-relative
  .row.justify-content-center.partner-img-container
    = field_nest :image, view: :core
  .row.text-center.pt-3
    %a.stretched-link{href: card.website, target: '_blank', role: 'button'}
      %span.card-title
        = card.name