.action-card
  .card.justify-content-between._card-link
    .card-body
      %h5.card-title
        = field_nest :title, view: :core
      .py-3
        = field_nest :body, view: :core
    .text-end
      %a{href:card.link, target: '_blank'}
        %i.fas.fa-arrow-right
