.action-card
  .card.justify-content-between._card-link
    .card-body
      %h5.card-title
        = field_nest :title, view: :core
      .py-3
        = field_nest :body, view: :core
    .text-end
      - if card.link.start_with?('http')
        %a{href:card.link, target: '_blank'}
          %i.fas.fa-arrow-right
      - if !card.link.start_with?('http') and card.link != ''
        %a.open-modal-button{'onclick':'trigger_modal(this)', role:'button'}
          = 'Case study'
          %i.ms-2.fas.fa-arrow-right
          = modal_link "",
                     path: {mark: card.link,  view: :core },
                     class: '.fas.fa-arrow-right'
