.container
  .row
    %h4
      = card.name
  - if !card.image.nil? and card.image != ''
    .row.text-center.pt-3.pb-3
      .fluid-image
        = field_nest :image, view: :core, size: :large
  .row
    = field_nest :description, view: :content
  - if !card.link.nil? and card.link != ''
    .row.justify-content-center.pt-3
      .col-md-4.text-center
        %a.btn.btn-outline-primary{href: card.link, target:'_blank', role:'button'}
          Learn more
  .row.pt-2.pb-2
    - card.field(:participants).card.item_cards.each do |participant|
      .col-sm-6
        = nest participant, view: :reference