.container
  .row
    = field_nest :image, view: :core, size: :large
  .row
    = field_nest :link, view: :core
  .row
    = field_nest :partner, view: :core
  .row
    = field_nest :description, view: :content