%section#event-header
  .bg-deep-blue-transparent.p-5
    .container.p-5
      = render_breadcrumbs
      = section_header :events_heading

%section#wikirate-events.p-5
  .container
    = nest :event_search, view: :core, items: {view: :core}