%section#event-header
  .bg-transparent-gray.p-5
    .container.p-5
      = render_breadcrumbs
      = section_header :events_heading, header_size: :h1

%section#wikirate-events.p-5
  .container
    = nest :event_search, hide: :header, items: {view: :core}