%section#event-header.container-fluid.bg-creme.pt-5.pb-5
  .container.p-5.py-3
    = render_breadcrumbs
    = section_header :events_heading, header_size: :h1

%section#wikirate-events.p-5
  .container
    = nest :event_search, view: :core, items: {view: :core}