.row.pt-1.pb-2
  .job_title
    = render :job_description
  -if !card.public_email.nil?
    %small
      %a.email-link{href: "mailto:"+card.public_email}
        = card.public_email
.row.d-flex.justify-content-center.justify-content-md-start.pb-3.pt-2
  .col-auto
    = field_nest :image, view: :core, size: :medium
  .col-md-8.p-sm-2.p-md-0.ps-md-2.mt-2.mt-md-0
    - if !card.bio.nil?
      %div.bio
        = field_nest :bio, view: :core