%section#policies-header
  .bg-deep-blue-transparent.p-5
    .container.p-5
      = render_breadcrumbs
      = section_header :policies_heading, url: "/Contact_us", text: "Contact Us"
%section.p-5
  = nest :policy_search, view: :core, items: {view: :box}